# Tuple Exercise

### 1. Write a Python program to create a tuple

In [1]:
t = ()
print(t)
print(type(t))

()
<class 'tuple'>

### 2. Write a Python program to create a tuple with different data types

In [2]:
tuple_with_different_data_types = ('Tutor Joes','True','T',3.21,10)
print("Tuple with different Data Types :",tuple_with_different_data_types)

Tuple with different Data Types : ('Tutor Joes', 'True', 'T', 3.21, 10)

### 3. Write a Python program to create a tuple with numbers and print one item

In [3]:
x = (10,) #### Single variable can't print in tuple
print(x)
print(type(x))

(10,)
<class 'tuple'>

### 4. Write a Python program to unpack a tuple in several variables

In [4]:
a = 4,8,3
print(tuple(a))

(4, 8, 3)

### 5. Write a Python program to add an item in a tuple

In [5]:
Original_Tuple = (10,40,50,70,90)

add_item = 20

new_tuple = Original_Tuple + (add_item,)

print("Original_Tuple:",new_tuple)
print("New Tuple:",new_tuple)

Original_Tuple: (10, 40, 50, 70, 90, 20)
New Tuple: (10, 40, 50, 70, 90, 20)

### 6. Write a Python program to convert a tuple to a string

In [6]:
original_tuple = ('T','u','t','o','r',' ','J','o','e','s')

modified_tuple = ''.join(original_tuple)

print("tuple_converted_into_string:",modified_tuple)

tuple_converted_into_string: Tutor Joes

### 7. Write a Python program to get the 4th element and 4th element from last of a tuple

In [7]:
original_tuple = ('w',3,'r','e','s','o','u','r','c','e')

element_from_start = original_tuple[3]

element_from_end = original_tuple[-4]

print("4th_element_from_start:",element_from_start)
print("4th_element_from_start:",element_from_end)

4th_element_from_start: e
4th_element_from_start: u

### 8. Write a Python program to create the colon of a tuple

In [8]:
original_tuple = ("Tutor",'J',23,56.67,[23,12],True)

copy_of_original_tuple = tuple(original_tuple)  # Create a copy of 'a' using the 'tuple' construcor

print("original_tuple: ",original_tuple)
print("copy_of_original_tuple: ",copy_of_original_tuple)

original_tuple:  ('Tutor', 'J', 23, 56.67, [23, 12], True)
copy_of_original_tuple:  ('Tutor', 'J', 23, 56.67, [23, 12], True)

In [9]:
a = ("Tutor",'J',23,56.67,[23,12],True)
b = a[:]   # Create a copy of 'a' using slicing
print(b)

('Tutor', 'J', 23, 56.67, [23, 12], True)

### 9. Write a Python program to find the repeated items of a tuple

In [10]:
#9.
original_tuple = (2,34,45,6,7,2,4,5,78,34,2)

repeated_items_of_tuple = original_tuple.count(2)

print("The repeated items of tuple :",repeated_items_of_tuple)

The repeated items of tuple : 3

### 10. Write a Python program to check whether an element exists within a tuple

In [11]:
original_tuple = ('T','u','t','o','r',' ','J','o','e','s',8)

if 8 in original_tuple:
    print("8 in Tuple -",True)
else:
    print("8 in Tuple -",False)
    
if x in original_tuple:
    print("x in Tuple -",True)
else:
    print("x in Tuple -",False)

8 in Tuple - True
x in Tuple - False

### 11. Write a Python program to convert a list to a tuple

In [12]:

list = [12,45,87,54,89,4]

print("list converted into a tuple:",tuple)

list converted into a tuple: <class 'tuple'>

### 12. Write a Python program to remove an item from a tuple

In [13]:
original_tuple = (23,45,56,68,10,45,7,9) #remove() not works in tuple

modified_tuple = (23,45,68,10,45,7,9)

print("After removing of an item from the tuple:",modified_tuple)

After removing of an item from the tuple: (23, 45, 68, 10, 45, 7, 9)

### 13. Write a Python program to slice a tuple

In [14]:
original_tuple = (10,20,30,40,50,60,70,80,90,100)

slice_a_tuple = original_tuple[3:8]

print("after a Slicing of tuple:",slice_a_tuple)

after a Slicing of tuple: (40, 50, 60, 70, 80)

### 14. Write a Python program to find the index of an item of a tuple

In [15]:
original_tuple = (23,45,67,78,89,90,34,56)

index_of_an_item = original_tuple.index(78)

print("The index of an item of a tuple:",index_of_an_item)

The index of an item of a tuple: 3

### 15. Write a Python program to find the length of a tuple

In [16]:
tuple = ("Lion","Cat","Dog","Panda","Tiger","Fox")

length = len(tuple)

print("The length of a tuple:",length)

The length of a tuple: 6

### 16. Write a Python program to convert a tuple to a dictionary

In [17]:
tuple = (("Name","Ram"),("Age",23),("City","Salem"),("Mark",422))

dictionary = dict(tuple)

print("The conversion of tuple into dictionary:",dictionary)

The conversion of tuple into dictionary: {'Name': 'Ram', 'Age': 23, 'City': 'Salem', 'Mark': 422}

### 17. Write a Python program to unzip a list of tuples into individual lists

In [18]:
tuple = [(10,20),(60,90),(20,50)]

individual_list = zip(*tuple)

print("The conversion of tuple into individual lists:",individual_list)

The conversion of tuple into individual lists: <zip object at 0x000001B35167A100>

### 18. Write a Python program to reverse a tuple

In [19]:
tuple = (23,45,67,78,89,90,34,56)
reverse = a[::-1]
print("Reverse tuple:",reverse)

Reverse tuple: (True, [23, 12], 56.67, 23, 'J', 'Tutor')

### 19. Write a Python program to convert a list of tuples into a dictionary

In [20]:
list_of_tuples = [("Name","Ram"),("Name","Pooja"),("Age",21),("Gender","Male"),("Age",23),("Gender","Female")]
print("Conversion of list of tuples into a dictionary:",dict(list_of_tuples))

Conversion of list of tuples into a dictionary: {'Name': 'Pooja', 'Age': 23, 'Gender': 'Female'}

In [21]:
data = [("Name", "Ram"), ("Name", "Pooja"), ("Age", 21), ("Gender", "Male"), ("Age", 23), ("Gender", "Female")]

result_dict = {}

for key, value in data:
    if key in result_dict:
        result_dict[key].append(value)
    else:
        result_dict[key] = [value]

print(result_dict)

{'Name': ['Ram', 'Pooja'], 'Age': [21, 23], 'Gender': ['Male', 'Female']}

### 20.Write a Python program to print a tuple with string formatting

In [22]:
fruits_tuple = ("watermelons", "strawberries", "mangoes", "bananas", "grapefruits", "oranges", "apples", "pears")

# Printing the tuple as it is
print(fruits_tuple)

# Printing the tuple with formatting
print("Fruits {}".format(fruits_tuple))
print("Fruits",fruits_tuple)

('watermelons', 'strawberries', 'mangoes', 'bananas', 'grapefruits', 'oranges', 'apples', 'pears')
Fruits ('watermelons', 'strawberries', 'mangoes', 'bananas', 'grapefruits', 'oranges', 'apples', 'pears')
Fruits ('watermelons', 'strawberries', 'mangoes', 'bananas', 'grapefruits', 'oranges', 'apples', 'pears')

### 21. Create a tuple with single item 23

In [23]:
tuple = (23,)
print(tuple)
print("Type =",type(a))

(23,)
Type = <class 'tuple'>

### 22. Unpack the tuple into 5 variables

In [24]:
tuple = (11,22,333,44,55)
for i in tuple:
    print(i)

11
22
333
44
55

### 23. Swap two tuples in Python3

In [25]:
A = (10,)
B = (20,)
print("Before Swap A:",A[0])
print("Before Swap B:",B[0])

A,B = B,A

print("After Swap A:",A[0])
print("After Swap B:",B[0])

Before Swap A: 10
Before Swap B: 20
After Swap A: 20
After Swap B: 10

### 24. Copy specific elements from one tuple to a new tuple

In [26]:
Original_tuple = (10,20,30,40,50,60,70,80,90,100)

new_tuple = Original_tuple[2:8]

print(new_tuple)

(30, 40, 50, 60, 70, 80)

### 25. Modify the tuple

In [27]:
original_tuple = (10,20,30,40,50)

modified_list = list(original_tuple)

modified_list[2] = 33

modified_tuple = tuple(modified_list)

print(modified_list)

TypeError: 'list' object is not callable

### 26. Sort a tuple of tuples by 2nd item

In [28]:
original_tuple = (('a',53),('b',37),('c',23),('d',1),('e',18))

sorted_tuple = tuple(sorted(original_tuple,key=lambda x:x[1]))

print(sorted_tuple)

TypeError: 'tuple' object is not callable

### 27. Counts the number of occurrences of item 30 from a tuple

In [29]:
tuple = (30,50,10,30,70,50,30)
occurances = tuple.count(30)
print("Number of count 30 :",b)

Number of count 30 : ('Tutor', 'J', 23, 56.67, [23, 12], True)

### 28. Write a Python program to compute element-wise sum of given tuples

In [30]:
A = (2,5,8)
B = (6,5,1)
C = (1,4,7)
D = (3,7,2)

result = ()

for i in range(len(A)):
    element_sum = A[i] + B[i] + C[i] + D[i]
    result += (element_sum,)
print("Sum of Elements =",result)

Sum of Elements = (12, 21, 18)

### 29. Write a Python program to sort a tuple by its float element

In [31]:
data = [('Ram','89.20'),('Siva','76.45'),('Pooja','84.40'),('Tara','68.43'),('Jeeva','91.40')]

sorted_data = tuple(sorted(data,key=lambda x: float(x[1]),reverse = True))

print(sorted_data)

TypeError: 'tuple' object is not callable

### 30. Write a Python program to replace last value of tuples in a list

In [32]:
# Original list of tuples
original_list = [(5, 2, 3), (4, 7, 6), (8, 9, 6)]

# Value to replace the last element with
replace_value = 10

# Replace the last value in each tuple
result_list = [(tup[:-1] + (replace_value,)) for tup in original_list]

# Print the original and modified lists
print("Original list:")
print(original_list)

print(f"Replace value = {replace_value}")
print("Modified list:")
print(result_list)

Original list:
[(5, 2, 3), (4, 7, 6), (8, 9, 6)]
Replace value = 10
Modified list:
[(5, 2, 10), (4, 7, 10), (8, 9, 10)]

### 31. Write a Python program to Extract tuples having K digit elements

In [33]:
data = [(47,23),(3,78),(22,53),(121,45),(7,)]

K = 2

result = [tup for tup in data if all(len(str(item)) == K for item in tup)]


print("Extract tuples having K digit elements :",result)

Extract tuples having K digit elements : [(47, 23), (22, 53)]

### 32. Write a Python program to Extract Symmetric Tuples

In [34]:
#32.
input_tuples = [(18,23),(2,9),(7,6),(9,2),(10,2),(23,18)]

def extract_symmetric_tuples(tuples):
    symmetric_set = set()
    
    for tup in tuples:
        reverse_tup = (tup[1], tup[0])
        if reverse_tup in tuples:
            symmetric_set.add(tup)
    
    return symmetric_set

# Sample input
input_tuples = [(18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18)]

symmetric_tuples = extract_symmetric_tuples(input_tuples)

print("Before extracting tuple list :",input_tuples)
print("After extracting tuple list :",symmetric_tuples)

Before extracting tuple list : [(18, 23), (2, 9), (7, 6), (9, 2), (10, 2), (23, 18)]
After extracting tuple list : {(2, 9), (23, 18), (18, 23), (9, 2)}

In [35]:
def extract_symmetric_tuples(tuples):
    symmetric_set = set()
    
    for tup in tuples:
        reverse_tup = (tup[1],tup[0])
        if reverse_tup in tuples:
            symmetric_set.add(tup)
            
    return symmetric_set

input_tuples = [(18,23),(2,9),(7,6),(9,2),(10,2),(23,18)]

symmetric_tuples = extract_symmetric_tuples(input_tuples)

print(symmetric_tuples)

{(2, 9), (23, 18), (18, 23), (9, 2)}

### 33. Write a Python program to Sort Tuples by their Maximum element

In [36]:
#33.
tuples_list = [ (4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2) ]

def max_element_key(tup):
    return max(tup)

sorted_tuples = sorted(tuples_list,key=max_element_key,reverse=True)

print("Before Sorting of tuples by their maximum element :",tuples_list)
print("After Sorting of tuples by their maximum element :",sorted_tuples)

Before Sorting of tuples by their maximum element : [(4, 5, 5, 7), (1, 3, 7, 4), (19, 4, 5, 3), (1, 2)]
After Sorting of tuples by their maximum element : [(19, 4, 5, 3), (4, 5, 5, 7), (1, 3, 7, 4), (1, 2)]

### 34. Write a Python program to Remove nested records from tuple

In [37]:
#34.
input_tuple = (10,20,(30,),40,(50,60),70)

def remove_nested_tuples(input_tuple):
    result = tuple(item for item in input_tuple if not isinstance(item,tuple))
    return result

output_tuple = remove_nested_tuples(input_tuple)

print("Before Removal of Nested Tuple:",input_tuple)
print("After Removal of Nested Tuple:",output_tuple)

TypeError: 'tuple' object is not callable

### 35. Write a Python program to Elements Frequency in Mixed Nested Tuple

In [38]:
#35.
mixed_nested_tuple = (10, 20, (20, 10), 30, (40, 50, 60), 60, 70)

def count_elements_frequency(nested_tuple):
    frequency_dict = {}

    def count_elements(t):
        for item in t:
            if isinstance(item, tuple):
                count_elements(item)
            else:
                frequency_dict[item] = frequency_dict.get(item, 0) + 1

    count_elements(nested_tuple)

    return frequency_dict

# Example tuple
mixed_nested_tuple = (10, 20, (20, 10), 30, (40, 50, 60), 60, 70)

# Get the frequency of elements
frequency_result = count_elements_frequency(mixed_nested_tuple)

# Print the result
print("Element frequencies:")
for element, frequency in frequency_result.items():
    print(f"{element}: {frequency}")

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union

### 36. Write a Python program to get unique elements in nested tuple

In [39]:
#36.
nested_tuples = [(1,3,5),(4,5,7),(1,2,6),(10,9),(10,)]

def flatten_tuple(nested_tuples):
    flat_list = []
    for item in nested_tuples:
        if isinstance(item,tuple):
            flat_list.extend(flatten_tuple(item))
        else:
            flat_list.append(item)
    return flat_list

flat_list = flatten_tuple(nested_tuples)
unique_elements = list(set(flat_list))

print("Unique elements in nested tuple :",unique_elements)

TypeError: isinstance() arg 2 must be a type, a tuple of types, or a union

### 37. Write a Python program to Concatenate tuples to nested tuples

In [40]:
#37.
Tuple1 = ((18, 23, 2, 9),)
Tuple2 = ((10, 3, 11),)
concatenate_Tuple = Tuple1 + Tuple2
print("Tuples after concatenateing:",concatenate_Tuple)

Tuples after concatenateing: ((18, 23, 2, 9), (10, 3, 11))

### 38. Write a Python program to Sort by Frequency of second element in Tuple List

In [41]:
#38.
tuple_list = [(2,7),(3,7),(2,5),(8,7),(6,5),(9,8)]

def second_element_frequency(tuple):
    return tuple.count(tuple[1])

sorted_tuples = sorted(tuple_list,key=second_element_frequency,reverse=True)

print("Sorted list of Tuples:",sorted_tuples)

Sorted list of Tuples: [(2, 7), (3, 7), (2, 5), (8, 7), (6, 5), (9, 8)]

### 39. Write a Python program to Sort lists in tuple

In [42]:
#39.
input_tuple = ([10, 50, 60], [80, 20, 30], [70, 100, 40], (90,))

def sort_lists_within_tuple(input_tuple):
    sorted_tuple = tuple(sorted(sublist) if isinstance(sublist,list) else sublist for sublist in input_tuple)
    return sorted_tuple

sorted_tuple = sort_lists_within_tuple(input_tuple)

print("Tuple after sorting list:",sorted_tuple)

TypeError: 'tuple' object is not callable

### 40. Write a Python program to Order Tuples using external List

In [43]:
#40.
tuple_list = [('B', 68), ('D', 70), ('A', 67), ('C', 69)]
external_order = ['A','B','C','D']

def custom_sort_key(item):
    return external_order.index(item[0])

ordered_tuple_list = sorted(tuple_list,key=custom_sort_key)

print("Ordered Tuple List:",ordered_tuple_list)

Ordered Tuple List: [('A', 67), ('B', 68), ('C', 69), ('D', 70)]

### 41. Write a Python program to Filter Tuples by Kth element from List

In [44]:
#41.
tuples_list = [('B', 68), ('D', 70), ('A', 67), ('C', 69)]

def filter_tuples_by_kth_element(tuples_list, kth_elements, kth_index):
    filtered_tuples = [t for t in tuples_list if t[kth_index] in kth_elements]
    return filtered_tuples

# Example usage
tuples_list = [('B', 68), ('D', 70), ('A', 67), ('C', 69)]
kth_elements_to_filter = [67, 70, 71, 75]
kth_index = 1

filtered_tuples = filter_tuples_by_kth_element(tuples_list, kth_elements_to_filter, kth_index)

print("Filtered tuples:", filtered_tuples)

Filtered tuples: [('D', 70), ('A', 67)]

### 42. Write a Python program to Closest Pair to Kth index element in Tuple

In [45]:
#42.
tuple_list = [(23, 18), (9, 2), (2, 3), (9, 18), (23, 2)]

def closest_pair_to_kth_element(tuple_list, given_tuple, kth_index):
    min_distance = float('inf')
    nearest_tuple = None

    for t in tuple_list:
        distance = abs(t[kth_index] - given_tuple[kth_index])
        if distance < min_distance:
            min_distance = distance
            nearest_tuple = t

    return nearest_tuple

# Example usage
tuple_list = [(23, 18), (9, 2), (2, 3), (9, 18), (23, 2)]
given_tuple = (20, 2)
kth_index = 1

nearest_tuple = closest_pair_to_kth_element(tuple_list, given_tuple, kth_index)

print("Nearest Tuple:", nearest_tuple)

Nearest Tuple: (9, 2)

### 43. Write a Python program to Tuple List intersection (Order irrespective)

In [46]:
#43.

list1 = [(3, 4), (5, 6), (9, 10), (4, 5)]
list2 = [(5, 4), (3, 4), (6, 5), (9, 11)]

def tuple_list_intersection(list1, list2):
    set1 = set(list1)
    set2 = set(list2)

    intersection = set1.intersection(set2)

    return intersection

# Example usage
list1 = [(3, 4), (5, 6), (9, 10), (4, 5)]
list2 = [(5, 4), (3, 4), (6, 5), (9, 11)]

result_intersection = tuple_list_intersection(list1, list2)

print("Intersection:", result_intersection)

Intersection: {(3, 4)}

### 44. Write a Python program to Intersection in Tuple Records Data

In [47]:
#44. 

list11 = [ ('A', 65), ('D', 68), ('B', 66) ]
list22=[ ('D', 68), ('C', 67), ('A', 65) ]
    
def tuple_list_intersection1(list1, list2):
    set1 = set(list1)
    set2 = set(list2)

    intersection = set1.intersection(set2)

    return intersection

# Example usage
list1 = [ ('A', 65), ('D', 68), ('B', 66) ]
list2 =[ ('D', 68), ('C', 67), ('A', 65) ]

result_intersection = tuple_list_intersection1(list1, list2)

print("Intersection:", result_intersection)

Intersection: {('A', 65), ('D', 68)}

### 45. Write a Python program to Unique Tuple Frequency (Order Irrespective)

In [48]:
#45.

input_tuples = [(3, 4), (1, 2), (4, 3), (5, 6)]

def unique_tuple_frequency(tuple_list):
    seen = set()
    unique_tuples = []

    for tup in tuple_list:
        sorted_tup = tuple(sorted(tup))
        if sorted_tup not in seen:
            seen.add(sorted_tup)
            unique_tuples.append(tup)

    return unique_tuples

# Example usage
input_tuples = [(3, 4), (1, 2), (4, 3), (5, 6)]
result = unique_tuple_frequency(input_tuples)

print("Unique tuples Frequency:", result)
print("Unique tuples Frequency Count:", len(result))

TypeError: 'tuple' object is not callable

### 46. Write a Python program to Skew Nested Tuple Summation

In [49]:
#46.
nested_tuple = (1, (2, (3, (4, (5, None)))))

def skew_nested_tuple_sum(tup):
    if tup is None:
        return 0
    else:
        return tup[0] + skew_nested_tuple_sum(tup[1])

# Example usage
nested_tuple = (1, (2, (3, (4, (5, None)))))

result = skew_nested_tuple_sum(nested_tuple)

print("Summation of 1st positions:", result)

Summation of 1st positions: 15

### 47. Write a Python program to Convert Binary tuple to Integer

In [50]:
#47.
binary_tuple = (1, 0, 1, 0)

def binary_tuple_to_integer(binary_tuple):
    binary_str = ''.join(map(str, binary_tuple))
    decimal_number = int(binary_str, 2)
    return decimal_number

# Example usage
binary_tuple = (1, 0, 1, 0)

result = binary_tuple_to_integer(binary_tuple)

print("Decimal number is:", result)

Decimal number is: 10

### 48. Write a Python program to Tuple XOR operation

In [51]:
#48.
tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)

def tuple_xor(tuple1, tuple2):
    result = tuple(x ^ y for x, y in zip(tuple1, tuple2))
    return result

# Example usage
tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)

result_tuple = tuple_xor(tuple1, tuple2)

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("XOR tuple:", result_tuple)

TypeError: 'tuple' object is not callable

### 49. Write a Python program to AND operation between Tuples

In [52]:
#49.
tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)

def tuple_and(tuple1, tuple2):
    result = tuple(x & y for x, y in zip(tuple1, tuple2))
    return result

# Example usage
tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)

result_tuple = tuple_and(tuple1, tuple2)

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("AND operation between Tuple:", result_tuple)

TypeError: 'tuple' object is not callable

### 50. Write a Python program to Elementwise AND in tuples

In [53]:
#50.
tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)

def elementwise_and(tuple1, tuple2):
    result = tuple(x & y for x, y in zip(tuple1, tuple2))
    return result

# Example usage
tuple1 = (10, 4, 6, 9)
tuple2 = (5, 2, 3, 3)

result_tuple = elementwise_and(tuple1, tuple2)

print("Tuple 1:", tuple1)
print("Tuple 2:", tuple2)
print("Elementwise AND Tuple:", result_tuple)

TypeError: 'tuple' object is not callable